* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-self: center;
    width: 1400px;
    height: 625px;
    margin: 20px auto;

}

/*SECCION INTRO*/

header, section, main, nav, footer, article, figure, hgroup {
    display: block;
    width: 100%;
}

.cabecera{
    background-image: url("https://1.bp.blogspot.com/-VyM-x1eSHf4/UjMBiDtwKRI/AAAAAAAAKug/SJ0eM9PNezE/s1600/Descargar+Pack+Bellos+Fondos+de+paisajes+HD+(523).jpg");
    width: 1350px;
    height: 625px;
    background-color: rgb(203, 243, 243);
    color:rgb(245, 224, 224);
    
}

.menu{
    background-color: rgb(238, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    
}
.link-menu{
    margin: 20px auto;
    color: rgb(238, 232, 232);
}

.link{
    display: inline-block;
    font-size: 20px;
    color: black;
    border-radius: 20px 10px;
    text-decoration: none;
    margin: 0 0.15em;
    background-color: rgb(184, 187, 187);
    transition: background-color .7s;
}

a:hover {
    font-size: 15px;
    text-decoration: none;
    color: #353535;
    padding: 0 1rem;
    transition: all .4s ease-in-out;
    line-height: 60px;
    height: 60px;
    color: white;
}

.btn-titulo:hover{
        font-size: 15px;
    text-decoration: none;
    color: #353535;
    padding: 0 1rem;
    transition: all .4s ease-in-out;
    line-height: 60px;
    height: 60px;
    color: white;
}



/*SECCION PRINCIPAL*/

.seccion-principal .titulo-principal .titutlo-descripcion{
    color: rgb(201, 194, 166);
    display: block;
    align-items: center;
    width: 1400px;
    height: 625px;

}

.titulo-principal{
    text-align: left;
    padding: 20px;
}

.subtitulo-descripcion2{
    display: flex ;
    padding: 40px;

}

.titutlo-descripcion{
    text-align: left;
    padding: 40px;    
}

.btn-titulo {
    background-color: black;
    font-size: 20px;
    color: blanchedalmond;
    display: flexbox;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    width: 20%;
    text-decoration: none;
}


/*SECCION DESTINO POR GPS*/

.seccion-articulos{
    display: block;
    background-color: whitesmoke;
    width: 1350px;
    height: 625px;
}

.titulo-servicios{
    display: block;
    text-align: left;
    padding: 20px;
}

.contenedor {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;

}

.articulos-servicios{
    display: flexbox;
    justify-content: space-around;
    background-color: whitesmoke;

}

.imagenes-articulos{
    width: 20px;
    padding: 20px ;
}

.imagenes-articulos .image-art{
    border-radius: 300px;
    padding: 50px;
}

.subtitulos-servicios{
    color: rgb(31, 30, 30);

}

/* SECCION PRODUCTOS*/

.seccion-productos{
    display: block;
    background-color:  whitesmoke;
    width: 1300px;
    height: 625px;
}
.contenedor2{
    background-color: whitesmoke;
}

.titulo-producto{
    font-size: 20px; 
}

.contenedor-producto{
    display: flex;
}

.img-producto{
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 20px;
}

/*SECCION SOCIOS*/

.seccion-contacto{
    background-image: url("https://i0.wp.com/medioambienteynaturaleza.com/wp-content/uploads/2015/08/Fondos-de-pantalla-de-naturaleza-aa.jpg?ssl=1");
    width: 1350px;
    height: 625px;
}

.titulo-contacto{
    text-align: left;
    padding: 20px;
    color: whitesmoke;
}

form{
    padding: 20px;
    margin: 2px;
}

.container-contacto{
    width: 100%;
    padding: 5px;
}



.caja-formuario{
    width: 550px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}
.caja-formuario:hover{
    background-color: rgb(167, 221, 167);
    color: whitesmoke;
}

.container-comentario{
    border-radius: 60px;
    margin: 20px;
}

.caja-comentario{
    width: 550px;
    border-radius: 10px;
    text-align: center;
}

.caja-comentario:hover{
    background-color: rgb(167, 221, 167);
}


.btn-enviar{
    background-color: black;
    font-size: 20px;
    color: blanchedalmond;
    display: flexbox;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    width: 20%;
    text-decoration: none;
}

.alerta{
    color: red;
    text-align: center;
    font-size: 20px;
    
}


.btn-enviar:hover{
    background-color: khaki;
    color: black;
}

.pie-pagina{
 font-size: 25px;
 background-color: rgb(238, 232, 232);
}

